h3{
	color:#fff;
	background-color:blue;
	padding:20px 10px 5px 50px;
	margin: 10px 100px 0px 0px;
	/*border: 5px dotted yellow;
	*/
	/*border: 5px dashed yellow;
	*/
	/*border: 5px inset yellow;
	*/border: 5px outset yellow;

}


font{
	color:blue;
	font-weight:bold;
}